<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ФРЭ БГУИР</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   	<script src="js/jquery-3.3.1.min.js"></script>
<!--   	шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"> 
<!--    основные стили -->
    <link rel="stylesheet" href="styles/main-for-all.css">
<!--    меню + футер -->
    <link rel="stylesheet" href="styles/nav_menu.css">
    <link rel="stylesheet" href="styles/footer.css" class="css">
<!--    иконки -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   	
    <link rel="stylesheet" href="styles/footer-anim.css" class="css">
    
<!--    стили и скрипты для отдельных страниц-->
    
    <link rel="stylesheet" href="OwlCarousel2-2.3.4/owl.carousel.min.css" class="css">
    <link rel="stylesheet" href="OwlCarousel2-2.3.4/owl.theme.default.min.css" class="css">
   	<script src="OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
   	
    <link rel="stylesheet" href="styles/main-page.css" class="css">
    <style>
        
    </style>
</head>
<body>
	<div class="header-indent">
	    <div class="header-bg">
	        <div class="header">
                <input type="checkbox" id="menu-button-invis">
                <label for="menu-button-invis" class="menu-button-vis">
                    <i class="menu-open fas fa-bars fa-2x"></i>
                    <i class="menu-close fas fa-times fa-2x"></i>
                </label>
                <div class="nav-menu">
                <ul>
                    <li class="main-menu-tab">
                        <input type="checkbox" class="sub-menu-button" id="sub-menu-button-1">
                        <a href="#" class="main-sub-menu-link"><label for="sub-menu-button-1">Факультет</label></a>
                        <ul class="sub-menu">
                            <li><a href="" class="sub-menu-link">Главная</a></li>
                            <li><a href="" class="sub-menu-link">О факультете</a></li>
                            <li><a href="news_page/news-page.html" class="sub-menu-link">Новости факультета</a></li>
                            <li><a href="dekanat/sostav_dekanata.html" class="sub-menu-link">Деканат</a></li>
                            <li><a href="#" class="sub-menu-link">Кафедры</a>
    <!--
                                <ul>
                                    <li><a href="chairs/%D0%9A%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0%20%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%B8%D0%BA%D0%B8.html">Кафедра электроники</a></li>
                                    <li><a href="chairs/<%D0%9A%D0%B0%D1%84%D0%B5%D0%></%D0%9A%D0%B0%D1%84%D0%B5%D0%>B4%D1%80%D0%B0%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85%20%D1%80%D0%B0%D0%B4%D0%B8%D0%BE%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B9.html">Кафедра информационных радиотехнологий</a></li>
                                    <li><a href="chairs/%D0%9A%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0%20%D0%BC%D0%B8%D0%BA%D1%80%D0%BE-%20%D0%B8%20%D0%BD%D0%B0%D0%BD%D0%BE%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%B8%D0%BA%D0%B8.html">Кафедра микро- и наноэлектроники</a></li>
                                </ul>
    -->
                            </li>
                            <li><a href="#" class="sub-menu-link">Специальности</a>
    <!--
                                <ul>
                                    <li><a href="#" class="sub-sub-menu-link">"Радиотехника(программируемые радиоэлектронные средства)"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Радиотехника (техника цифровой связи)"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Радиоинформатика"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Радиоэлектронные системы"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Радиоэлектронная защита информации"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Микро- и наноэлектронные технологии и системы"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Квантовые информационные системы"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Нанотехнологии и наноматериалы в электронике"</a></li>
                                    <li><a href="#" class="sub-sub-menu-link">"Электронные и информационно-управляющие системы физических установок"</a></li>
                                </ul>
    -->
                            </li>
    <!--						<li><a href="#" class="sub-menu-link">Совет факультета</a></li>-->
                            <li><a href="#" class="sub-menu-link">Фирмы партнеры</a></li>
                            <li><a href="#" class="sub-menu-link">Междунродное сотрудничество</a></li>
    <!--						<li><a href="#" class="sub-menu-link">Логотип</a></li>-->
    <!--	                        <li><img src="imgs/1.jpg" alt="" class="menu-img"></li>-->
                        </ul>
                    </li>
                    <li class="main-menu-tab">
                        <input type="checkbox" class="sub-menu-button" id="sub-menu-button-2">
                        <a href="#" class="main-sub-menu-link"><label for="sub-menu-button-2">Студенту</label></a>
                        <ul class="sub-menu">
                            <li><a href="#" class="sub-menu-link">Расписание занятий</a></li>
                            <li><a href="#" class="sub-menu-link">Образовательные ресурсы</a></li>
                            <li><a href="#" class="sub-menu-link">Олимпиады</a></li>
                            <li><a href="#" class="sub-menu-link">Правила внутреннего распорядка</a></li>
        <!--                        <li><a href="#" class="sub-menu-link"></a></li>-->
        <!--                        <li><img src="imgs/1.jpg" alt="" class="menu-img"></li>-->
                        </ul>
                    </li>
                    <li class="main-menu-tab">
                        <input type="checkbox" class="sub-menu-button" id="sub-menu-button-3">
                        <a href="#" class="main-sub-menu-link"><label for="sub-menu-button-3">Абитуриенту</label></a>
                        <ul class="sub-menu">
                            <li><a href="#" class="sub-menu-link">Специальности</a></li>
                            <li><a href="#" class="sub-menu-link">Проходные баллы</a></li>
                            <li><a href="#" class="sub-menu-link">План приема</a></li>
                            <li><a href="#" class="sub-menu-link">День открытых дверей</a></li>
                            <li><a href="#" class="sub-menu-link">Конференции и олимпиады</a></li>
                            <li><a href="#" class="sub-menu-link">Подготовка к ЦТ</a></li>
        <!--                        <li><a href="#" class="sub-menu-link"></a></li>-->
        <!--                        <li><img src="imgs/1.jpg" alt="" class="menu-img"></li>-->
                        </ul>
                    </li>
                    <li class="main-menu-tab">
                        <input type="checkbox" class="sub-menu-button" id="sub-menu-button-4">
                        <a href="#" class="main-sub-menu-link"><label for="sub-menu-button-4">Магистратура</label></a>
                        <ul class="sub-menu">
                            <li><a href="#" class="sub-menu-link">Поступающим в магистратуру</a></li>
                            <li><a href="#" class="sub-menu-link">Образовательные ресурсы</a></li>
                            <li><a href="#" class="sub-menu-link">Прием документов</a></li>
                            <li><a href="#" class="sub-menu-link">Специальности</a></li>
                            <li><a href="#" class="sub-menu-link">План приема</a></li>
                            <li><a href="#" class="sub-menu-link">Вступительные испытания</a></li>
                            <li><a href="#" class="sub-menu-link">Правила оформления диссертаций</a></li>
        <!--                        <li><img src="imgs/1.jpg" alt="" class="menu-img"></li>-->
                        </ul>
                    </li>
    <!--
                    <li class="main-menu-tab">
                        <input type="checkbox" class="sub-menu-button" id="sub-menu-button-5">
                        <a href="#" class="main-sub-menu-link"><label for="sub-menu-button-5">Наука</label></a>
                        <ul class="sub-menu">
                            <li><a href="#" class="sub-menu-link">Аспирантура</a></li>
                            <li><a href="#" class="sub-menu-link">Докорантура</a></li>
                            <li><a href="#" class="sub-menu-link">Конференции</a></li>
                            <li><a href="#" class="sub-menu-link">Научная деятельность</a></li>
                            <li><a href="#" class="sub-menu-link"></a></li>
                            <li><img src="imgs/1.jpg" alt="" class="menu-img"></li>
                        </ul>
                    </li>
    -->
                </ul> 
                </div>
                <form class="search-form">
                    <input type="search" class="input-form" placeholder="поиск по сайту">
                    <input type="submit" name="" value="" class="submit-form">
                </form>   	
		    </div>
	    </div>
    </div>
    
	<div class="main-content">
		<div class="slider">
			<div class="owl-carousel owl-theme">
			    
				<div class="carousel-slide carousel-slide-1">
					<div class="info-important">
						<a href="about_fre.html" class="info-title">О нашем факультете</a><br><br>
						<a href="about_fre.html" class="info-more">Подробнее...</a>
					</div> 
				</div>
<!--
				<div class="carousel-slide carousel-slide-2"> Your Content </div>
				<div class="carousel-slide carousel-slide-3"> Your Content </div>
-->
			</div>
		</div>
		<div class="fresh-news">
			<a href="news_page/news-page.html" class="fresh-news-title"><i class="far fa-newspaper"></i> Новости</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">Студенты БГУИР познакомились с подготовкой IT-специалистов в Эстонии и Латвии</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">Быть здоровым, жить активно - это стильно, позитивно!</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">Вся наша жизнь - игра!</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">Дублеры педагога: изучаем педагогические технологии</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">100 вопросов профессионалу: время, события, люди</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
			<a href="#" class="one-new">
				<div class="one-new-date">
					<div class="one-new-date-day">11</div>
					<div class="one-new-date-month">сентября</div>
					<div class="one-new-date-year">2001</div>
				</div>
				<div class="one-new-title-more">
					<div class="one-new-title">Педгостиная «в гостях» у групп 741301 и 842801</div>
					<div class="one-new-readmore">Подробнее...</div>
				</div>
			</a>
		</div>
	</div>
    
    <div class="footer">
        <div class="footer-container">
            <div class="footer-block right-aling">
                <span class="dekanat-adres">г.Минск, ул П.Бровки 6 , аудитория 419-б, 1 корпус БГУИР</span>
                <a href="https://goo.gl/maps/UxF8L7BMZCF2" class="">Мы находимся тут</a>
                <span class="dekanat-numbers">+375 17 293-88-48</span>
                <span class="dekanat-numbers">+375 17 293-89-91</span>
                <span class="dekanat-numbers">+375 17 293-89-96</span>
            </div>
            <div class="footer-block right-aling">
                <a href="https://www.bsuir.by/" class="">Официальный сайт БГУИР</a>
                <a href="https://priem.bsuir.by/" class="">Личный кабинет студента</a>
                <a href="https://abitur.bsuir.by/" class="">Абитуриент БГУИР</a>
                <a href="https://library.bsuir.by/" class="">Электронная библиотека</a>
                <a href="https://www.bsuir.by/index.jsp?resID=101523" class="">Газета "Импульс"</a>
            </div>
            <div class="footer-animation">
                
            </div>
            <div class="footer-block left-aling">
                <a href="index.html" class="">Главная</a>
                <a href="https://iis.bsuir.by/#/schedule" class="">Расписание занятий</a>
                <a href="dekanat/sostav_dekanata.html" class="">Деканат</a>
<!--                <a href="" class="">Кафедры</a>-->
                <a href="news_page/news-page.html" class="">Новости</a>
<!--                <a href="" class="">Специальности</a>-->
            </div>
            <div class="footer-block left-aling">
                
                <span class="">мы в социальных сетях<br>
					<a href="https://www.instagram.com/fre_bsuir/" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
					<a href="https://vk.com/afrebsuir" class="social-icons"><i class="fab fa-vk fa-2x"></i></a>
<!--	                -->
				</span>
            </div>
        </div>
    </div>


<script>

//	$(document).ready(function(){
//		$(".owl-carousel").owlCarousel();
//
//	});

	var owl_1 = $('.owl-carousel');	
	owl_1.owlCarousel({
		loop: true,
		margin:0,
		nav: false,
		items:1,
//		  dots: true,
//        dotsContainer: "dots-car",
//        dotsEach: true,
		autoplay: true,
		autoplayTimeout: 11000,
		smartSpeed: 1600,
	});
	$('.custom_next_btn').click(function() {
		owl_1.trigger('next.owl.carousel',500);
	});
	$('.custom_previous_btn').click(function() {
		owl_1.trigger('prev.owl.carousel',500);
	});

</script>

</body>
</html>