.teammate-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	padding: 10px;
}

.teammate-info{
	padding-left: 25px;
    max-width: 450px;
}

.teammate-avatar{
	background-size: cover;
	background-position: center;
	width: 330px;
	height: 290px;
}

.teammate-avatar-1{
	background-image: url(../imgs/dekanat_sostav/korotkevich.jpg);
}
.teammate-avatar-2{
	background-image: url(../imgs/dekanat_sostav/granko.jpg);
}
.teammate-avatar-3{
	background-image: url(../imgs/dekanat_sostav/biran.jpg);
}
.teammate-avatar-4{
	background-image: url(../imgs/dekanat_sostav/murashko.jpg);
}
.teammate-avatar-5{
	background-image: url(../imgs/dekanat_sostav/avvakumova.jpg);
}
.teammate-avatar-6{
	background-image: url(../imgs/dekanat_sostav/cherkas.jpg);
}
.teammate-avatar-7{
	background-image: url(../imgs/dekanat_sostav/nogachova.jpg);
}
