.footer{
	width: 100%;
    background-color: #222222;
}

.footer-container{
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
	align-items: stretch;
    
}

.footer-block{
    height: 170px;
    overflow: hidden;
/*    width: 50%;*/
    position: relative;
	padding: 40px 0; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    
/*    align-items: stretch;*/
}

.footer-block a, .footer-block span{
    color: #c1c1c1;
    margin: auto;
    text-decoration: none;
    width: 210px;
    text-align: center;
}

.footer-block span{
	color: #909090;
}
.footer-block a:hover{
	color: #fff;	
}

.right-aling{
    padding-right: 10px;
}
.left-aling{
    padding-left: 10px;
}

.right-aling a, .right-aling span{
    text-align: right;
}

.left-aling a, .left-aling span{
    text-align: left;
}

.footer-block a, .footer-block span{
    margin: 2px 0;
}

.footer-animation{
    width: 320px;
}

@media (max-width: 466px){
    .footer-block{
        padding: 15px 0;
        height: inherit;
    }
}

@media (min-width: 1248px){
    .right-aling::after{
        content: "";
        width: 2px;
        height: 150px;
        background-color: #383838;
        position: absolute;
        top: 40px;
        right: 1px;
    }
    .left-aling::after{
        content: "";
        width: 2px;
        height: 150px;
        background-color: #383838;
        position: absolute;
        top: 40px;
        left: 1px;
    }
}

@media (max-width: 1248px){
    .right-aling{
        padding-right: 0;
    }
    .left-aling{   
        padding-left: 0;
    }
    .footer-animation{
        width: 100%;
    }
    .footer-container{
        max-width: 840px;
        justify-content: space-around;
    }
    .footer-block a, .footer-block span{
        text-align: center;
    }
}