.slider{
	max-width: 840px;
    
/*	width: 100%;*/
/*    border-bottom-left-radius: 20px;*/
/*    border-bottom-right-radius: 20px;*/
/*    border-radius: 10px;*/
    overflow: hidden;
	margin: auto;
}

.carousel-slide{
/*    height: 30vh;*/
	height: 490px;
    background: 35% 0% no-repeat;
    background-size: cover;
}

.info-important{
	position: absolute;
	top: 40%;
	left: 10%;
}

.info-title{
	font-size: 170%;
	color: #fff;
	background-color: #50729999;
/*	border-radius: 8px;*/
	padding: 5px 8px;
	transition: all 0.6s ease;    
}

.info-title:hover{
	background-color: #507299e6;
	transition: all 0.3s ease;    	
}

.info-more{
	color: #fff;
	padding-left: 10px;
	transition: all 0.6s ease;    
}

.info-more:hover{
	color: #87b0de;
	transition: all 0.3s ease;
}

.carousel-slide-1{
	background-image: url(../imgs/fre1-slider-bg.jpg);
/*	Поставить очень широкое изображение
	по горизонтали 2000-3000px*/
}

.carousel-slide-2{}

.carousel-slide-3{}

/*новости!!!!!*/

.fresh-news{
	max-width: 840px;
	margin: auto;
    margin-bottom: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fresh-news-title{
	color: #315886;
	margin: 20px;
	width: 100%;
	text-align: center;
	font-size: 150%;
	transition: all 0.5s ease;
}
.fresh-news-title:hover{
	color: #6198da;
	transition: all 0.5s ease;
}

.one-new{
	background-color: #6e88a5;
/*	border-radius: 10px;*/
	width: 48.5%;
	padding: 10px 0;
	margin: 10px 0;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	flex-wrap: nowrap;
	transition: all 0.6s ease;
}

.one-new:hover{
	background-color: #22599882;
	transition: all 0.3s ease;
}

.one-new > div{
	padding: 0 10px;
}

.one-new-date{
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.one-new-date > div{
	text-align: center;
}

.one-new-date-day{
	font-size: 170%;
}

.one-new-date-month{
	font-size: 75%;
}

.one-new-date-year{
	font-size: 75%;
}
	
.one-new-title-more{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.one-new-title{
	color: #fff;
	font-size: 110%;
	padding-bottom: 15px;
	flex: 1;
}

.one-new-readmore{
	color: #fff;
/*	padding-left: 10px;*/
	transition: all 0.6s ease;    	
}

.one-new-readmore:hover{
	color: #58718e;
	transition: all 0.3s ease;    	
}

@media (max-width: 857px) {
    .slider{
        border-radius: 0px;
    }
    
}

@media (max-width: 749px){
    .carousel-slide{
        height: 400px;
    }
    .fresh-news{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .fresh-news a{
        width: 100%;
        margin: 10px auto;
        
    }
    a.one-new{
/*
        margin-left: 10px;
        margin-right: 10px;
*/
    }
}
