body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
/*    background-color: #f1f1f1;*/
	font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
/*	background-image: url(../imgs/93.png);*/
}

.main-content{
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    min-height: calc(100vh - 213px);
/*    временное прижатие футера (наверное)
    подпилить для адаптивности*/
}

.footer{
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
}
.main-content p, .briefly-about{
    line-height: 1.3
}

.main-content a{
	text-decoration: none;
}

.main-content-container a{
	color:  #4d7baf;
	text-decoration: none;
	transition: all 0.5s ease;
}

.main-content-container a:hover{
	color:  #af4da7;
	transition: all 0.5s ease;
}

.main-content-container li{
	list-style: none;
}

.main-content-container li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

.main-content-container{
	background-color: #fff;
/*	border: 1px solid grey;*/
	box-shadow: 0 0 1px rgba(30,50,70,0.3);
	padding: 20px;
	max-width: 800px;
	margin: 20px auto;
}

.big-text{
	font-weight: 600;
	font-size: 200%;
}

.center-text{
	text-align: center;
}

p.center-text.big-text{
    margin: 8px 0;
}

.bold-text{
	font-weight: 600;
}

.margin15{
    margin: 15px 0;
}

@media (max-width: 550px){
    .big-text{
        font-size: 145%;
    }
}

@media (max-width: 857px){
    .main-content-container{
        margin: 20px 5px;
    }
}