.title-logo{
    text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
}

.fre-title{
	padding: 0 25px;
	width: 200px;
	text-align: center;
	color: #98562f;
}

.header-indent{
	width: 100%;
	height: 60px;
}

.header-bg{
    background-color: #507299;
    width: 100%;
    height: 49px;
	position: fixed;
	z-index: 2;
    top: 0;
/*	left: calc(50% - 420px);*/
}

.header{
    margin: auto;
    width: 840px;
	background-color: #507299;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.search-form {
    margin: 0 15px;
    width: 160px;
    position: relative;
}

.search-form input {
    border: none;
}
.search-form .input-form {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}
.search-form .input-form:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}
.search-form .submit-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
}
.search-form .submit-form:hover {
    opacity: 0.8;
}
input[type="search"] {
    -webkit-appearance: none;
}

#menu-button-invis, .menu-button-vis{
    display: none;
    padding: 0px 15px;
}

.sub-menu-button{
    display: none;
}

.nav-menu{
    background-color: #507299;
/*    box-shadow: inset 0px 0px 40px 0px #242d46;*/
}

.nav-menu *{
    margin: 0;
    padding: 0;
}

.nav-menu ul{
    list-style: none;
}

.nav-menu > ul{
    margin: auto;
    display: flex;
    justify-content: center;
}

.nav-menu > ul li a{
    display: block;
    color: #ebefff;
    border-color: #aaa;
    padding: 15px 20px 15px 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav-menu ul.sub-menu li a{
    color: #fff;
    background-color: #6f93bb;
	box-shadow: -1px 5px 10px -5px black;
}

.nav-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.nav-menu li > ul li {
/*    border: 1px solid #c7c8ca;*/
}

.nav-menu li > ul li a {
    padding: 10px;
    padding-left: 20px;
    text-transform: none;
    background: #e4e4e5;
}

.nav-menu li > ul li ul {
	max-width: 300px;
    position: absolute;
    right: -300px;
    top: 0;
}

@media (max-width: 640px) {
    .menu-button-vis{
        display: block;
    }
}

@media (max-width: 845px){
    .header{
        width: 100%;
    }
    .header-indent{
        width: 100%;
    }
}

@media (min-width: 720px) {
    .nav-menu li:hover > ul {
    /*    выпадение минюхи*/
        display: block;
    }
    .nav-menu ul.sub-menu li:last-child a{
    border-radius: 0px 0 5px 5px;
    }
    .nav-menu ul.sub-menu li a:hover{
    /*    изменение цвета нижних кнопок при наведении*/
        color: #2d445f;
        background-color: #9ec1e8;
    }
    .nav-menu li a:hover{
    /*    изменение цвета верхних кнопок при наведении*/
        background-color: #6f93bb;
        color: #fff;
        box-shadow: -1px 5px 10px -5px black;
        transition: all 0.3s ease;    
    }
}

@media (max-width: 720px) {
    .header{
        width: 100%;
    }
    .header-indent{
        width: 100%;
        height: 48px;
    }
    .header{
        height: 48px;
        justify-content: space-between;
    }
    .menu-button-vis{
        display: block;
        color: #fff;
        z-index: 21;
        border-bottom-right-radius: 18px;
        border-top-right-radius: 18px;        
    }
    i.menu-close{
        display: none;
        transition: all 0.8s ease;
    }
    #menu-button-invis:checked ~ label > i.menu-open{
        display: none;
        transition: all 0.8s ease;
    }
    #menu-button-invis:checked ~ label > i.menu-close{
        display: inline-block;
        transition: all 0.8s ease;
    }
    #menu-button-invis:checked ~ .menu-button-vis{
        background-color: #10171f96;
        transition: all 0.8s cubic-bezier(0.25, 0.1, 1, -0.28);
    }
    
    #menu-button-invis:checked ~ .nav-menu{
        z-index: 20;
        opacity: 1;
        height: 100%;
        overflow: auto;
/*        transform: scale(1);*/
        transition: all 0.5s ease;
    }
    
    .nav-menu{
        z-index: -1;
        opacity: 0;
        background-color: #000000cc;
        overflow: hidden;
        width: 100%;
        height: 0%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        transition: all 0.5s ease;
    }
    .nav-menu > ul{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
    .main-sub-menu-link{
        transition: all 0.5s ease;
    }
    .nav-menu li ul{
        position: relative;
        opacity: 0;
        min-width: 290px;
        display: block;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .sub-menu-button:checked ~ ul.sub-menu{
        height: 100%;
        opacity: 1;
        z-index: 10;
        overflow: inherit;
/*        display: block;*/
        color: red;
        transition: all 0.5s ease;
    }
    .main-menu-tab{
        margin: 7px 0;
    }
}