.new-container{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.visits{
    padding-left: 15px;
}

.more{
    text-align: right;
}

a.new-title{
    color: #3a3a3a;
}

.fa-calendar-alt{
    padding-right: 10px;
}

.new-screensaver{
    margin: 0 auto;
    position: relative;
    height: 280px;
    width: 480px;
    overflow: hidden;
    background-position: center;
}

.new-screensaver > img{
    max-width: 100%;
    position: absolute;
}

.for-two-img{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
}

.photo-caption{
    width: 100%;
    font-size: 80%;
    text-align: center;
/*    display: block;*/
}

.pic-in-article{
    margin: 0 10px;
    
}

@media (max-width: 550px){
    .new-screensaver{
        width: 100%;
        height: calc(100vw * 0.9 / 1.7);
    }
}
